
.navbar_main{
    /* font-family: 'Roboto Mono', monospace;
    font-weight: 900;
    font-size: 2rem;
    font-style: bold; */
    font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
    padding-top: 2rem;
    margin-right: 0;
    background-color:rgb(252, 144, 3);
    padding-bottom: 1rem;
}
#brandLogo{
   position: relative;
   left: 3rem;
   width: 5rem;
    
}
/* 
img{
    width: 4rem;
} */
.nav_item{
    /* border: 2px solid black; */
    margin-left: 5rem;
    /* margin-bottom: 2rem; */
    
}

